parameters:
	ignoreErrors:
		-
			message: '#^Function getValue\(\) should return string\|null but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: example/example.php

		-
			message: '#^Parameter \#1 \$tokenExpires of method Picqer\\Financials\\Exact\\Connection\:\:setTokenExpires\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: example/example.php

		-
			message: '#^Parameter \#2 \$value of function setValue expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: example/example.php

		-
			message: '#^Trait Picqer\\Financials\\Exact\\Webhook\\Authenticatable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Picqer/Financials/Exact/Webhook/Authenticatable.php

		-
			message: '#^Parameter \$response of method Picqer\\Tests\\ModelTest\:\:createMockHandler\(\) has invalid type Picqer\\Tests\\Support\\GuzzleHttp\\Psr7\\Response\.$#'
			identifier: class.notFound
			count: 1
			path: tests/ModelTest.php

		-
			message: '#^Parameter \#1 \$response of method Picqer\\Tests\\QueryParamTest\:\:createMockHandler\(\) expects array\|Picqer\\Tests\\Support\\GuzzleHttp\\Psr7\\Response\|string\|null, GuzzleHttp\\Psr7\\Response given\.$#'
			identifier: argument.type
			count: 1
			path: tests/QueryParamTest.php

		-
			message: '#^Parameter \$response of method Picqer\\Tests\\QueryParamTest\:\:createMockHandler\(\) has invalid type Picqer\\Tests\\Support\\GuzzleHttp\\Psr7\\Response\.$#'
			identifier: class.notFound
			count: 1
			path: tests/QueryParamTest.php

		-
			message: '#^Parameter \$response of method Picqer\\Tests\\ResultsetTest\:\:createMockHandler\(\) has invalid type Picqer\\Tests\\Support\\GuzzleHttp\\Psr7\\Response\.$#'
			identifier: class.notFound
			count: 1
			path: tests/ResultsetTest.php
